body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 1.5em;
  margin: 2em 0;
}

/* end reset */

header {
  height: 70px;
  width: 100%;
  background-color: black;
  padding: 0 30px;
  position: fixed;
  top: 0;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  align-self: center;
}

nav {
  pad
}

ul.list {
  width: 40vw;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-right: 0;
}

.list-item {
  font-weight: bold;
  font-size: 0.85em;
  color: white;
  text-decoration: none;
}

.list-item.no-link {
  font-weight: normal;
}

.link:hover {
  color: #1ed760;
}

/* --- End of menu --- */

main {
  position: relative;
  top: 70px;
}

/* --- Start section 1 --- */

.section-1 {
  height: auto;
  padding: 5vw;
  background-image: url(../images/premium_dancer.png);
  background-repeat: no-repeat;
  background-color: #49a4eb;
  background-position-x: right;
  background-position-y: bottom;
}

h1 {
  margin: 0;
  font-size: 5em;
  color: white;
  padding-right: 5vw;
}

.section-1 h2 {
  color: white;
}

.plans {
  display: block;
  background-color: #1ed760;
  padding: 6px 60px;
  font-variant-caps: all-petite-caps;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  border-radius: 50em;
  width: 100px;
  text-align: center;
  margin: 12vh 0;
}
